   *{padding: 0px;
margin: 0px;
}
.outer{
    height: 900px;
    width: 700px;
    
    margin: 0px auto;
}
.title{
    text-align: center;
    margin-top: 40px;
    background-color: rgb(59, 117, 59);
    color: white;
}
.info{
    margin-top: 30px;
}
h3{
  
    background-color: rgb(91, 139, 91);  
}
.add{
    margin-left: 20px;
    margin-top: 15px;
}