<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password page</title>
</head>
<body>
	<section>
	
    <div class="container p-4" style="position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);">
		<div class="row">
			<div class="co">
				<div class="car ">
					<div class="card-body">
						
						<h4 class="text-center text-primary"><i class="fa-solid fa-lock"></i> Forgot Password</h4>
													<th:block thLif="${session.msg}">
								<p class="text-center text-success fs-4">[[${session.msg}]]</p>

								<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						<form th:action="@{/send-otp}" method="post">
							
							<div class="form-group">
								 <input required type="email" placeholder="Enter email address" class="form-control" id="email" name="email">
							</div>
							
							<div class="container text-center mt-4">
							
								<button type="submit" class="btn btn-warning btn-block text-white">Send OTP</button>
							</div>
							
							 <div id="register-link" class="text-right">
                                <a href="register" class="text-info">Register here</a>
                            </div>
							
						</form>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
	</section>


</body>
</html>